Q12. Write an SQL query to find the youngest student in the "student" table ?

In [1]:
'''
SELECT Name, Age
FROM Student
ORDER BY Age ASC
LIMIT 1;

'''

'\nSELECT Name, Age\nFROM Student\nORDER BY Age ASC\nLIMIT 1;\n\n'