Q13.  Write an SQL query to retrieve the names and addresses of all persons from the "Person" table along with their corresponding addresses from the "Address" table.

In [1]:
'''
SELECT p.Name, a.Address
FROM Person p
JOIN Address a ON p.person_id = a.person_id;

'''

'\nSELECT p.Name, a.Address\nFROM Person p\nJOIN Address a ON p.person_id = a.person_id;\n\n'