Q14.Write an SQL query to fetch the second highest number from the "student" table.

In [ ]:
'''
SELECT DISTINCT Age
FROM Student
ORDER BY Age DESC
LIMIT 1 OFFSET 1;

'''