Q15. SQL Quary to get the nth highest salary from Employee table

In [1]:
'''
SELECT DISTINCT Salary
FROM Employee
ORDER BY Salary DESC
LIMIT 1 OFFSET n - 1;

'''

'\nSELECT DISTINCT Salary\nFROM Employee\nORDER BY Salary DESC\nLIMIT 1 OFFSET n - 1;\n\n'