Q16.Write a SQL query to find the median salary of each company.?

In [1]:
'''
SELECT Company,
       AVG(Salary) AS MedianSalary
FROM (
    SELECT Company,
           Salary,
           ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary) AS RowAsc,
           ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary DESC) AS RowDesc
    FROM Employee
) Ranked
WHERE RowAsc = RowDesc
   OR RowAsc + 1 = RowDesc
   OR RowAsc = RowDesc + 1
GROUP BY Company;

'''

'\nSELECT Company, \n       AVG(Salary) AS MedianSalary\nFROM (\n    SELECT Company, \n           Salary,\n           ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary) AS RowAsc,\n           ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary DESC) AS RowDesc\n    FROM Employee\n) Ranked\nWHERE RowAsc = RowDesc\n   OR RowAsc + 1 = RowDesc\n   OR RowAsc = RowDesc + 1\nGROUP BY Company;\n\n'