Q17.Write a SQL to get the cumulative sum of an employeeâ€™s salary over a period of 3 month but exclude the most recent month? The result should be display by id ascending and then by month decending ?

In [ ]:
'''
WITH RankedSalaries AS (
    SELECT
        ID,
        EXTRACT(YEAR FROM SalaryDate) AS SalaryYear,
        EXTRACT(MONTH FROM SalaryDate) AS SalaryMonth,
        Salary,
        ROW_NUMBER() OVER (PARTITION BY ID ORDER BY SalaryDate DESC) AS RowNum
    FROM EmployeeSalary
)
SELECT
    rs.ID,
    rs.SalaryYear,
    rs.SalaryMonth,
    rs.Salary,
    SUM(rs.Salary) OVER (PARTITION BY rs.ID ORDER BY rs.SalaryYear ASC, rs.SalaryMonth DESC ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING) AS CumulativeSalary
FROM RankedSalaries rs
WHERE rs.RowNum <= 3
ORDER BY rs.ID ASC, rs.SalaryYear ASC, rs.SalaryMonth DESC;

'''