Q20.Consider a database schema that represents an online bookstore with two tables: books and orders. The books table has columns: book_id, title, author, price, and stock_quantity. The orders table has columns: order_id, book_id, quantity, and order_date.Write an SQL query to find the top 3 bestselling products in terms of total quantity sold, along with their names and total quantities sold

In [1]:
'''
SELECT
    b.title AS product_name,
    SUM(o.quantity) AS total_quantity_sold
FROM
    books b
JOIN
    orders o ON b.book_id = o.book_id
GROUP BY
    b.title
ORDER BY
    total_quantity_sold DESC
LIMIT 3;

'''

'\nSELECT\n    b.title AS product_name,\n    SUM(o.quantity) AS total_quantity_sold\nFROM\n    books b\nJOIN\n    orders o ON b.book_id = o.book_id\nGROUP BY\n    b.title\nORDER BY\n    total_quantity_sold DESC\nLIMIT 3;\n\n'